.button-container {
  display: block;
  padding: 10px;
  border: 1px solid rgb(185, 184, 184);
  width: 20px;
  height: 20px;
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
}

.larger-button {
  width: 104px;
}

.operation {
  background-color: orange;
  color: white;
}

.operation-2 {
  background-color: rgb(185, 184, 184);
  color: black;
  border: 1px solid white;
  display: flex;
  text-align: center;
}
